body {
  font-size: 15px;
  color: #6c757d;
}
.text-shadow {
  text-shadow: 2px 2px 1px #333;
}
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.im-active img {
  background-color: #333;
}
.col-1-5 {
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.container,
.container-fluid {
  position: relative;
}
.im-top ul {
  margin: 0;
  padding: 0;
}
.im-top ul li {
  list-style-type: none;
  display: inline-block;
  padding: 11px 3px 0px;
}
.im-top ul li img {
  height: 30px;
  margin-bottom: 7px;
}
.im-top ul li a {
  color: #6c757d;
}
.im-logo {
  text-align: center;
  padding: 5px;
}
.im-menu {
  background: #38a0e2;
  background: -moz-linear-gradient(180deg, #38a0e2 0%, #79c3f2 100%);
  background: -webkit-linear-gradient(180deg, #38a0e2 0%, #79c3f2 100%);
  background: linear-gradient(180deg, #38a0e2 0%, #79c3f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#38a0e2", endColorstr="#79c3f2", GradientType=1);
}
.im-menu .nav-item {
  padding: 0 10px 0;
}
.im-menu .nav-item .nav-link {
  color: #fff !important;
}
.im-menu .nav-item .nav-link i.fal {
  font-size: 19px;
}
.im-menu .dropdown-menu {
  background-color: #fbfbfb;
}
.im-menu .dropdown-menu .dropdown-item {
  padding: 9px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.im-menu .dropdown-menu .dropdown-item i.fad {
  color: #17a2b8;
  font-size: 17px;
}
.im-menu .dropdown-menu .dropdown-item:hover {
  background-color: #f2f2f2;
}
.im-menu .dropdown-menu .dropdown-item:last-child {
  border: none;
}
.im-gradient-down {
  background: #79c3f2;
  background: -moz-linear-gradient(180deg, #79c3f2 0%, #38a0e2 100%);
  background: -webkit-linear-gradient(180deg, #79c3f2 0%, #38a0e2 100%);
  background: linear-gradient(180deg, #79c3f2 0%, #38a0e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#79c3f2", endColorstr="#38a0e2", GradientType=1);
  color: #fff;
  border-bottom: 5px solid #dce6f0;
  font-size: 17px;
  padding-top: 25px;
}
.im-menu,
.im-gradient-down {
  height: 90px;
}
.im-footer {
  background-color: #333;
  padding: 20px 0 20px;
}
.im-footer a {
  color: #17a2b8;
}
.im-language ul {
  float: right;
}
.im-language ul li {
  list-style-type: none;
  display: inline;
}
.objects .pagination-arrow {
  text-align: center;
}
.objects .pagination-arrow i {
  margin: 5px;
  cursor: pointer;
}
.objects .object {
  padding: 0;
  margin: 0;
  line-height: 24px;
}
.objects .object img {
  width: 100%;
}
.objects .object .carousel a i {
  font-size: 40px;
}
.objects .object .list-3 li,
.objects .object .im-ul li {
  list-style-type: disc;
  margin-left: 18px;
}
.slider h5 {
  font-size: 40px;
}
.slider-title,
.slider-icon {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.slider-icon {
  bottom: 70px;
}
.slider-icon img {
  background: #333;
  padding: 20px;
  border: 2px solid #fff;
  opacity: 0.6;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.slider-icon .object {
  text-align: center;
  padding: 10px;
  height: 200px;
}
.slider-icon .object img {
  width: auto;
}
.slider-icon .object h5 {
  font-size: 18px;
}
.slider-title {
  top: 30px;
}
.main-menu {
  padding-top: 21px;
  font-size: 14px;
}
.short {
  margin: 70px 0 70px;
}
.short img {
  width: auto;
}
.im-category {
  background-color: #f2f4f6;
}
.im-category .object {
  cursor: pointer;
  text-align: center;
  line-height: 26px;
  min-height: 405px;
}
.im-category .object a {
  width: 100%;
  margin: 1px 0 1px;
}
.im-category .object img {
  width: 100%;
}
.im-category .object p:last-child {
  padding: 0 10px 0;
  color: #6c757d;
}
.im-category .object .back .back-content {
  padding: 0 15px 0;
}
.im-category .object .back .back-content ul li {
  margin: 1px;
}
.im-category .object .back .back-content ul li a {
  border-bottom-width: 2px;
  font-size: 12px;
}
.sentence-slider-bottom {
  font-size: 20px;
}
.object-category {
  margin: 5px 0 20px;
}
.content-job .object-category {
  float: right;
}
.content,
.content-job,
.content-supplier {
  padding: 0 50px 0;
}
.content .object,
.content-job .object,
.content-supplier .object {
  margin-bottom: 10px;
}
.content-supplier img {
  height: 50px;
}
.department {
  text-align: center;
  background-color: #dce6f0;
  padding: 25px !important;
  margin: 10px 0 10px;
  color: #6c757d;
}
.department a {
  color: #17a2b8;
}
/*# sourceMappingURL=main.css.map */