.container, .container-fluid{
  position: relative;
}
.im-top{
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      display: inline-block;
      padding: 11px 3px 0px;
      img{
        height: 30px;
        margin-bottom: 7px;
      }
      a{
        color: @secondary;
      }
    }
  }
}
.im-logo{
  text-align: center;
  padding: 5px;
}
.im-menu{
  .linear-gradient-up();
  .nav-item {
    padding: 0 10px 0;
    .nav-link {
      color: @white !important;
      i.fal {
        font-size: 19px;
      }
    }
  }
  .dropdown-menu{
    background-color: #fbfbfb;
    .dropdown-item{
      padding: 9px;
      border-bottom: 1px solid @light-gray;
      font-size: 14px;
      i.fad{
        color: @info;
        font-size: 17px;
      }
    }
    .dropdown-item:hover{
      background-color: #f2f2f2;
    }
    .dropdown-item:last-child {
      border: none;
    }
  }
}
.im-gradient-down {
  .linear-gradient-down();
  color: @white;
  border-bottom: 5px solid @silver;
  font-size: 17px;
  padding-top: 25px;
}
.im-menu, .im-gradient-down {
  height: 90px;
}
.im-footer{
  background-color: @black;
  padding: 20px 0 20px;
  a{
    color: @info;
  }
}
.im-language{
  ul{
    float: right;
    li{
      list-style-type: none;
      display: inline;
    }
  }
}
.objects{
  .pagination-arrow{
    text-align: center;
    i{
      margin: 5px;
      cursor: pointer;
    }
  }
  .object{
    padding: 0;
    margin: 0;
    line-height: 24px;
    img{
      width: 100%;
    }
    .carousel{
      a i{
        font-size: 40px;
      }
    }
    .list-3, .im-ul{
      li{
        list-style-type: disc;
        margin-left: 18px;
      }
    }
  }
}
.slider{
  h5{
    font-size: 40px;
  }
}
.slider-title, .slider-icon{
  position: absolute;
  z-index: 1;
  width: 100%;
}
.slider-icon{
  bottom: 70px;
  img{
    background: @black;
    padding: 20px;
    border: 2px solid @white;
    opacity: 0.6;
    .border-radius(20px);
  }
  .object{
    text-align: center;
    padding: 10px;
    height: 200px;
    img{
      width: auto;
    }
    h5{
      font-size:18px;
    }
  }
}
.slider-title{
  top: 30px;
}
.main-menu{
  padding-top: 21px;
  font-size: 14px;
}
.short{
  margin: 70px 0 70px;
  img{
    width: auto;
  }
}
.im-category{
  background-color: @light;
  .object{
    cursor: pointer;
    text-align: center;
    line-height: 26px;
    min-height: 405px;
    a{
      width: 100%;
      margin: 1px 0 1px;
    }
    img{
      width: 100%;
    }
    p:last-child{
      padding: 0 10px 0;
      color: @secondary;
    }
    .back {
      .back-content {
        padding: 0 15px 0;
        ul {
          li {
            margin: 1px;
            a {
              border-bottom-width: 2px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
.sentence-slider-bottom {
  font-size: 20px;
}
.object-category {
  margin: 5px 0 20px;
}
.content-job .object-category {
  float: right;
}
.content, .content-job, .content-supplier{
  padding: 0 50px 0;
  .object{
    margin-bottom: 10px;
  }
}
.content-supplier {
  img{
    height: 50px;
  }
}
.department{
  text-align: center;
  background-color: #dce6f0;
  padding: 25px !important;
  margin: 10px 0 10px;
  color: @secondary;
  a{
    color: @info;
  }
}