.container, .container-fluid{
  position: relative;
}
.im-top{
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      display: inline-block;
      img{
        height: 30px;
      }
      a{
        color: @secondary;
      }
    }
  }
}
.im-logo{
  text-align: center;
  padding: 5px;
}
.im-menu{
  .linear-gradient-up();
  .nav-link{
    color: @white !important;
    i.fal{
      font-size: 17px;
    }
  }
}
.im-gradient-down {
  .linear-gradient-down();
  color: @white;
  border-bottom: 5px solid @silver;
  font-size: 17px;
  padding-top: 25px;
}
.im-menu, .im-gradient-down {
  min-height: 90px;
}
.im-footer{
  background-color: @black;
  min-height: 300px;
}
.im-language{
  ul{
    float: right;
    li{
      list-style-type: none;
      display: inline;
    }
  }
}
.objects{
  .pagination-arrow{
    text-align: center;
    i{
      margin: 5px;
      cursor: pointer;
    }
  }
}
.object{
  padding: 0;
  margin: 0;
  img{
    width: 100%;
  }
  .carousel{
    a i{
      font-size: 40px;
    }
  }
}
.slider{
  h5{
    font-size: 40px;
  }
}
.slider-title, .slider-icon{
  position: absolute;
  z-index: 1;
  width: 100%;
}
.slider-icon{
  bottom: 70px;
  img{
    background: @black;
    padding: 20px;
    border: 2px solid @white;
    opacity: 0.6;
    .border-radius(20px);
  }
  .object{
    text-align: center;
    padding: 10px;
    height: 200px;
    img{
      width: auto;
    }
    h5{
      font-size:18px;
    }
  }
}
.slider-title{
  top: 30px;
}
.main-menu{
  padding-top: 21px;
  font-size: 14px;
}
.short{
  margin: 70px 0 70px;
  img{
    width: auto;
  }
}
.im-category{
  background-color: @light;
}